.tab {
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: smooth;
    width:auto;
}
.tab::-webkit-scrollbar {
    display: none;
    background-color: rgba(0, 0,0,0);
}
.tab {
    -ms-overflow-style: none;
    scrollbar-width: none;
}